$data-arrow-next-blue-svg: url(data:image/svg+xml;base64,Zm9v);
$data-arrow-next-white-svg: url(data:image/svg+xml;base64,YmFy);
$data-menu-black-svg: url(data:image/svg+xml;base64,bWVudQ==);
$data-close-black-svg: url(data:image/svg+xml;base64,Y2xvc2U=);
$data-language-white-svg: url(data:image/svg+xml;base64,bGFuZw==);
$data-open-modal-blue-svg: url(data:image/svg+xml;base64,b3Blbg==);
$data-arrow-back-blue-svg: url(data:image/svg+xml;base64,YmFjaw==);
