$icon-menu: url("data:image/svg+xml;base64,bWVudQ==");
$icon-close: url("data:image/svg+xml;base64,Y2xvc2U=");
$icon-search: url("data:image/svg+xml;base64,c2VhcmNo");
$icon-arrow-forward: url("data:image/svg+xml;base64,YXJyb3c=");
$icon-caret-right: url("data:image/svg+xml;base64,Y2FyZXQ=");
$icon-caret-right-big: url("data:image/svg+xml;base64,Y2FyZXRiaWc=");
$icon-info-500: url("data:image/svg+xml;base64,aW5mbw==");
$icon-warning-500: url("data:image/svg+xml;base64,d2FybmluZw==");
$icon-check-500: url("data:image/svg+xml;base64,Y2hlY2s=");
$icon-spinner: url("data:image/svg+xml;base64,c3Bpbm5lcg==");
$icon-input-checkbox: url("data:image/svg+xml;base64,Y2hlY2tib3g=");
